body {
  height: 100vh;
  margin: 0;
}

.input-section {
  background: linear-gradient(to right top, #0066a4, #0e81bc);
  height: 100%;
}
.freightera-logo {
  height: 3em;
  padding-top: 1em;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17em;
  padding-bottom: 4em;
}
.search-input {
  width: 100%;
  height: 4em;
}
.title {
  text-transform: capitalize;
  font-size: 2em;
  padding-bottom: 2em;
}

.show-table {
  margin-top: 5em;
  transition: 0.8s;
}

.hidden {
  width: 0em;
  height: 0em;
  border: white 0 solid;
}

.active-search {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 2em !important;
}
/* i ::before {
  font-size: 2em;
} */

.active-table {
  height: 54%;
}

.search {
  justify-content: center;
  position: absolute;
  font-size: 13em;
}

.inner-container {
  width: 40%;
  position: relative;
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: center;
}
