body {
  height: 100vh;
}
.freightera-logo {
  height: 3em;
  padding-top: 1em;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
}
.search-input {
  width: 55em;
  height: 4em;
  border-radius: 30%;
}
.title {
  text-transform: capitalize;
}
