body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right top, #43689c, #0e81bc);
}

.input-section {
  background: white;
  height: 100%;
}
.freightera-logo {
  height: 4em;
  padding-top: 4em;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17em;
  padding-bottom: 4em;
}
.search-input {
  width: 100%;
  height: 5em;
}
.title {
  text-transform: uppercase;
  font-size: 29px;
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: darkslategrey;
  padding-top: 0.5em;
  font-weight: 400;
}

.show-table {
  margin-top: 6.5em;
  transition: 0.8s;
}
input::placeholder {
  color: darkslategrey;
  font-size: 18px;
  font-weight: 600;
  padding-left: 1em;
}

input[type="text"] {
  color: rgb(24, 36, 36);
  padding-left: 1em;
  font-size: 18px;
  font-weight: 600;
}
.ui-menu .ui-menu-item a {
  color: darkslategrey;
  font-size: 18px;
  font-weight: 600;
  border-bottom: solid, 1px, grey;
  padding: 6px;
}

.hidden {
  width: 0em;
  height: 0em;
  border: white 0 solid;
}

.active-search {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 2em !important;
}
.active-table {
  height: 55%;
}

.search {
  justify-content: center;
  position: absolute;
  color: darkslategrey;
  font-size: 13em;
}

.inner-container {
  width: 40%;
  position: relative;
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: center;
}

.table {
  justify-content: space-evenly;
  margin: 2em;
  border-radius: 8px;
  display: flex;
  border: 1px lightgrey solid;
  margin-top: -20px;
  background: white;
  height: 4em;
}
.result-container {
  position: absolute;
}
.table-value {
  color: white;
}

.value {
  display: flex;
  justify-content: center;
  font-size: 22px;
  text-transform: uppercase;
}
.img-container {
  display: flex;
  justify-content: center;
}
a:link {
  color: greenyellow;
}
a:visited {
  color: darkseagreen;
}
.fa-search-location:before {
  padding-right: 12px;
}
